* {
  box-sizing: border-box;
}

body {
  font-family: "Gadugi", "Helvetica", sans-serif;
  font-size: 16px;
}

body, html {
  position: relative;
}

.hero-page {
  width: 100%;
  height: 100vh;
  background: #0A0140;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 15%;
}

.hero-page h1 {
  font-size: 1.14rem;
}

.hero-page p {
  font-weight: bold;
  font-size: 2.25rem;
  margin-top: 20px;
}

.button {
  width: 130px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  position: relative;
  top: 20%;
}

.header {
  height: 40px;
  width: 100%;
  background: #0A0140;
  position: sticky;
  top: 0;
}

.logo {
  font-family: "Allan";
}

.nav {
  padding: 0 15%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn_mobile {
  display: none;
}

.menu li {
  display: inline-block;
}

.menu a {
  padding: 10px 0 10px 20px;
}

.menu li a, .logo{
  color: #fff;
  font-weight: bold;
}

/* Estilos opcionais */
.menu a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.footer {
  height: 120px;
  width: 100%;
  background: #0A0140;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.midias_sociais_footer a {
  margin-left: 10px;
}

.midias_sociais_footer svg {
  margin: 8px 0 8px 0;
}

.sobre_mim_container {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  padding: 0 15%;
}

.sobre_mim_texto {
  text-align: left;
}

.sobre_mim_texto h2 {
  font-weight: bold;
  font-size: 1.28rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.imagem_perfil {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.midias_sociais {
  text-align: center;
}

.midias_sociais a {
  /* margin-left: 10px; */
}

.sobre_mim_texto {
  height: 100%;
  width: 50%;
  margin-top: 15%;
}

.perfil {
  height: 100%;
  width: 50%;
  margin-top: 10%;
}

.button_portfolio {
  width: 130px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  color: #000;
  border: 1px solid #000;
}

.portfolio {
  width: 100%;
}

.portfolio h2 {
  margin: 5% 0 0 15%;
  font-size: 1.28rem;
  font-weight: bold;
}

.portfolio_p {
  margin: 0 0 5% 15%;
}

.container_portfolio {
  justify-content: center;
  margin-bottom: 5%;
  width: 100%;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  column-gap: 140px;
  row-gap: 40px;
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.portfolio_card {
  margin: 0 auto;
  width: 220px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
}

.portfolio_card img {
  height: 220px;
  width: 220px;
}

.portfolio_card h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
}

.portfolio_card p {
  padding: 10px;
}

/* Media Queries */

@media (max-width: 768px) {

  body {
    font-size: 14px;
  }

  .hero-page p {
    font-size: 1.71rem;
  }

  .btn_mobile {
    display: block;
  }

  .menu {
    display: none;
  }

  .sobre_mim_container {
    flex-direction: column;
    align-items: center;
  }

  .sobre_mim_texto {
    text-align: center;
    margin-top: 5%;
  }

  .sobre_mim_texto h2 {
    font-size: 1.14rem;
  }

  .perfil {
    padding-top: 10%;
    order: -1;
  }

  .imagem_perfil {
    height: 240px;
    width: 240px;
  }

  .midias_sociais img {
    height: 24px;
    width: 24px;
  }

  .container_portfolio {
    grid-template-columns: 220px 220px;
    column-gap: 90px;
  }

  .footer {
    margin-top: 10%;
  }

}

@media (max-width: 480px) {

  body {
    font-size: 14px;
  }

  .hero-page p {
    font-size: 1.71rem;
  }

  .button {
    top: 20%;
  }

  .footer {
    flex-direction: column;
  }

  .perfil {
    width: 100%;
  }

  .sobre_mim_texto {
    width: 100%;
    padding: 20px;
    margin: 0;
  }

  .portfolio h2, .portfolio_p {
    margin: 0 0 5% 0;
    text-align: center;
  }

  .container_portfolio {
    grid-template-columns: 220px;
  }
}
