* {
  box-sizing: border-box;
}

body {
  font-family: "Gadugi", "Helvetica", sans-serif;
  font-size: 16px;
}

body, html {
  position: relative;
}

.hero-page {
  width: 100%;
  height: 100vh;
  background: #0A0140;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
}

.hero-page h1 {
  font-size: 1.14rem;
}

.hero-page p {
  font-weight: bold;
  font-size: 2.25rem;
  margin-top: 20px;
}

.button {
  width: 130px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  position: relative;
  top: 20%;
}

.header {
  height: 40px;
  width: 100%;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #0A0140;
  /* margin-bottom: 160px; */

  position: sticky;
  top: 0;
}

.logo {
  font-family: "Allan";
}

.nav {
  display: inline-block;
}

.menu li {
  display: inline-block;
  padding-left: 10px;
}

.menu li a, .logo{
  color: #fff;
  font-weight: bold;
}

.footer {
  height: 120px;
  width: 100%;
  background: #0A0140;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.midias_sociais_footer svg {
  margin: 8px 0 8px 0;
}

.sobre_mim_container {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.sobre_mim_texto {
  float: left;
  text-align: left;
  padding: 0 20px;
  margin-left: 10%;
}

.sobre_mim_texto h2 {
  font-weight: bold;
  font-size: 1.28rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.imagem_perfil {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.midias_sociais {
  text-align: center;
}

.midias_sociais a {
  /* margin-left: 10px; */
}

.perfil, .sobre_mim_texto {
  height: 60%;
  width: 40%;
  margin-top: 10%;
}

.perfil {
  float: right;
  margin-right: 10%;
}

.button_portfolio {
  width: 130px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  color: #000;
  border: 1px solid #000;
}

.portfolio {
  height: 100vh;
  width: 100%;
}

.portfolio h2 {
  font-size: 1.28rem;
  font-weight: bold;
  margin-left: 10%;
}

.portfolio_p {
  margin-left: 10%;
}

.portfolio_card {
  width: 460px;
  height: 220px;
  display: inline-block;
  /* margin: 40px auto 50px ; */
}

.portfolio_card:nth-child(odd) a {
  margin-right: 16px;
  float: left;
}

.portfolio_card:nth-child(even) a {
  margin-left: 16px;
  float: right;
}

.portfolio_card h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.portfolio_card img {
  height: 160px;
  width: 160px;
}

/* Media Queries */

@media (max-width: 768px) {}

@media (max-width: 480px) {

  .button {
    top: 20%;
  }

  .header {
    margin-bottom: 20%;
  }

  .sobre_mim_texto {
    margin: 0;
  }
}
