/* Reset csss*/

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "Gadugi", "Helvetica", sans-serif;
}

/* Fim do reste css*/

.header {
  width: 1400px;
  height: 10vh;
  background-color: #484b4d;
}

.footer-container {
  width: 1400px;
  height: 10vh;
  background-color: #484b4d;
  clear: both;
}

.sobre-mim-container {
  width: 1400px;
  height: 80vh;
  background-color: aqua;
}

.sobre-mim {
  width: 500px;
  height: 80vh;
  float: left;
  background-color: chartreuse;
}

.imagem-perfil {
  float: left;
  width: 400px;
  height: 60vh;
  background-color: blue;
}

.imagem-perfil img {
  height: 350px;
  width: 350px;
}

.midias-sociais {
  height: 20vh;
  width: 200px;
  background-color: brown;
  float: left;
}

.midias-sociais img {
  height: 32px;
  width: 32px;
}
