/* Reset csss*/

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "Gadugi", "Helvetica", sans-serif;
}

/* Fim do reste css*/

.header,
.footer-container {
  width: 1400px;
  height: 10vh;
  background-color: #484b4d;
}

.sobre-mim-container {
  height: 80vh;
}
