* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Gadugi", "Helvetica", sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
}

header {
	height: 10vh;
	margin-left: 900px;
}

header a {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	font-size: 20px;
}

ul li {
	display: inline;
	margin-left: 30px;
}

#capa {
	background-color: #D3D3D3;
	height: 90vh;
}

#capa h2 {
	font-family: "Segoe Script";
	font-size: 60px;
}

#capa h1 {
	font-size: 110px;
}

#resumo {
	height: 100vh;
}

#curriculo {
	background: #D3D3D3;
	height: 100vh;
}